In [2]:
import pandas as pd
from matplotlib import pyplot
import numpy as np

In [3]:
data = pd.read_csv('results/player_and_careerlength_groupbyyear.csv')
data = data.fillna(0)
data.iloc[:100].loc[:, "year":"per"].columns

Index(['year', 'stint', 'GP', 'GS', 'minutes', 'points', 'oRebounds',
       'dRebounds', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers',
       'PF', 'fgAttempted', 'fgMade', 'ftAttempted', 'ftMade',
       'threeAttempted', 'threeMade', 'PostGP', 'PostGS', 'PostMinutes',
       'PostPoints', 'PostoRebounds', 'PostdRebounds', 'PostRebounds',
       'PostAssists', 'PostSteals', 'PostBlocks', 'PostTurnovers', 'PostPF',
       'PostfgAttempted', 'PostfgMade', 'PostftAttempted', 'PostftMade',
       'PostthreeAttempted', 'PostthreeMade', 'note', 'firstseason',
       'lastseason', 'height_x', 'weight_x', 'age', 'g', 'mp', 'per'],
      dtype='object')

In [ ]:
# pd.tools.plotting.scatter_matrix(data.iloc[:100].loc[:, "year":"per"], diagonal="kde")
# plt.tight_layout()
# plt.show()

In [4]:
def per(data):
    per_score = [ data['fgMade'] * 85.910\

+ data['steals'] * 53.897\

+ data['threeMade'] * 51.757\

+ data['ftMade'] * 46.845\

+ data['blocks'] * 39.190\

+ data['oRebounds']	* 39.190\

+ data['assists']	* 34.677\

+ data['dRebounds']	* 14.707\

- data['PF'] * 17.174\

- (data['ftAttempted'] - data['ftMade'])	* 20.091\

- (data['fgAttempted'] - data['fgMade'])	* 39.190\

- data['turnovers'] * 53.897 ]\

* (np.divide(1 , data['minutes'].tolist()))

    return per_score

In [5]:
per(data)

array([[ 5.70505   ,  9.61248073, 12.06544118, ..., 10.78997087,
        10.3115    , 15.7376413 ]])

In [ ]:
_csv('results/player_and_careerlength_groupbyyear.csv')

In [47]:
#Check difference of calculated per and present per
new_s = pd.DataFrame({'Name' : per(data)[0].tolist(), 'Calc_per' : data.playerID.tolist(), 'Org_per' : data.per.tolist(), 'Compared':(per(data)[0]<data.per).tolist()})
new_s[new_s.Compared == True]

      Calc_per  Compared       Name    Org_per
0    abdursh01      True  18.542663  20.200000
2    abdursh01      True  18.971620  19.800000
3    abdursh01      True  18.489922  19.900000
4    abdursh01      True  18.052547  18.850000
5    abdursh01      True  17.112079  18.700000
7    allenra02      True  20.878745  22.900000
8    allenra02      True  19.845285  21.600000
9    allenra02      True  20.190524  21.600000
10   allenra02      True  19.168474  21.700000
14   alstora01      True  13.255633  13.900000
15   alstora01      True  12.269581  14.400000
17   alstora01      True  11.824724  16.500000
18   anderde01      True  15.844996  16.900000
19   anderde01      True  14.956890  17.100000
21   anderde01      True  13.349381  16.900000
22   anderde01      True  11.203048  15.100000
23   anderde01      True  10.221928  11.700000
24   andersh01      True  10.973181  13.800000
25   andersh01      True   7.633263  11.900000
27   andersh01      True   9.205283  13.400000
28   andersh01      True   8.695816  10.100000
30   armstda01      True  17.847227  19.500000
31   armstda01      True  16.564642  18.600000
32   armstda01      True  14.065370  16.700000
33   armstda01      True  14.436044  14.600000
34   armstda01      True  10.639737  15.600000
35   armstda01      True   6.654285  11.000000
36   artesro01      True  12.832529  13.400000
39   artesro01      True  16.602163  17.600000
41   artesro01      True  14.903677  23.500000
..         ...       ...        ...        ...
832  wallara01      True  15.495684  16.666667
836  webbech01      True  20.989141  24.400000
837  webbech01      True  16.997402  20.900000
841  wellsbo01      True  17.876503  18.800000
842  wellsbo01      True  14.755723  18.400000
843  wellsbo01      True  12.254865  15.700000
846  wesleda01      True  14.530261  15.000000
847  wesleda01      True  10.749874  15.300000
849  wesleda01      True  11.501859  15.100000
850  wesleda01      True  11.259757  12.600000
851  wesleda01      True   8.999727  11.900000
852  williaa01      True  14.424433  17.700000
854  williaa01      True  11.740674  15.200000
856  williaa01      True   5.911257  13.200000
860  willico02      True  14.254335  20.000000
861  willico02      True  13.228599  15.700000
863  willico02      True   8.137370  14.900000
864  willier01      True   9.614307  11.800000
865  willier01      True   8.699216  10.000000
867  willier01      True  11.786608  13.100000
868  willier01      True  10.428491  13.450000
869  willier01      True   6.423733  10.500000
873  willija02      True  16.104443  17.100000
874  willija02      True  14.685586  16.900000
875  willija02      True  14.465308  15.400000
877  wrighlo02      True  14.539914  15.700000
878  wrighlo02      True  14.129816  14.800000
879  wrighlo02      True  13.597633  14.400000
880  wrighlo02      True  13.358711  14.000000
881  wrighlo02      True  11.200738  13.900000

[557 rows x 4 columns]

In [ ]:
Index(['year', 'stint', 'GP', 'GS', 'minutes', 'points', 'oRebounds',
       'dRebounds', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers',
       'PF', 'fgAttempted', 'fgMade', 'ftAttempted', 'ftMade',
       'threeAttempted', 'threeMade', 'PostGP', 'PostGS', 'PostMinutes',
       'PostPoints', 'PostoRebounds', 'PostdRebounds', 'PostRebounds',
       'PostAssists', 'PostSteals', 'PostBlocks', 'PostTurnovers', 'PostPF',
       'PostfgAttempted', 'PostfgMade', 'PostftAttempted', 'PostftMade',
       'PostthreeAttempted', 'PostthreeMade', 'note', 'nameGiven',
       'firstseason', 'lastseason', 'height_x', 'weight_x', 'age', 'g', 'mp',
       'per'],
      dtype='object')

In [ ]:
pd.DataFrame([[0, 0, 0, 2.068, 2.070, 1.580],
+                  [0, 0, 0, 2.068, 2.074, 1.602],
+                  [0, 0, 0, 2.090, 2.090, 1.613],
+                  [0, 0, 0, 2.097, 2.093, 1.613],
+                  [0, 0, 0, 2.117, 2.125, 1.663],
+                  [0, 0, 0, 2.140, 2.146, 1.681],
+                  [1, 0, 0, 2.045, 2.054, 1.580],
+                  [1, 0, 0, 2.076, 2.088, 1.602],
+                  [1, 0, 0, 2.090, 2.093, 1.643],
+                  [1, 0, 0, 2.111, 2.114, 1.643],
+                  [0, 1, 1, 2.093, 2.098, 1.653],
+                  [0, 1, 1, 2.100, 2.106, 1.623],
+                  [0, 1, 1, 2.104, 2.101, 1.653]])

In [ ]:
import statsmodel

In [ ]:
import statsmodels.api as sm